version: 2
updates:
  - package-ecosystem: docker
    open-pull-requests-limit: 20
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      docker-dependencies:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    open-pull-requests-limit: 20
    directories:
      - "/"
      - "/actions/**/*"
    cooldown:
      default-days: 7
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      github-actions-dependencies:
        patterns:
          - "*"

  - package-ecosystem: npm
    open-pull-requests-limit: 20
    directory: "/actions/parse-ci-reports"
    cooldown:
      default-days: 7
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      npm-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "devcontainers"
    open-pull-requests-limit: 20
    directory: "/"
    cooldown:
      default-days: 7
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
