name: Internal - Main - Continuous Integration

on:
  push:
    branches: [main]
    tags: ["*"]
  workflow_dispatch:

permissions:
  contents: write
  statuses: write
  actions: write
  pull-requests: write
  # FIXME: This is a workaround for having workflow ref. See https://github.com/orgs/community/discussions/38659
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/__shared-ci.yml

  release:
    needs: ci
    uses: hoverkraft-tech/ci-github-publish/.github/workflows/release-actions.yml@535e8b9de03e7ceb4c1509ee50f8270456071ed6 # 0.3.2
    with:
      update-all: ${{ (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')) || github.event_name == 'workflow_dispatch' }}
      github-app-id: ${{ vars.CI_BOT_APP_ID }}
    secrets:
      github-app-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}
