name: Internal - Common Continuous Integration tasks

on:
  workflow_call:

permissions: {}

jobs:
  linter:
    permissions:
      actions: read
      contents: read
      security-events: write
      statuses: write
    uses: ./.github/workflows/linter.yml

  test-action-matrix-outputs:
    needs: linter
    permissions:
      contents: read
    uses: ./.github/workflows/__test-action-matrix-outputs.yml

  test-action-get-github-actions-bot-user:
    needs: linter
    permissions:
      contents: read
    uses: ./.github/workflows/__test-action-get-github-actions-bot-user.yml

  test-action-get-issue-number:
    needs: linter
    permissions:
      contents: read
    uses: ./.github/workflows/__test-action-get-issue-number.yml

  test-action-parse-ci-reports:
    needs: linter
    permissions:
      contents: read
      id-token: write
      packages: read
      pull-requests: write
      security-events: write
    uses: ./.github/workflows/__test-action-parse-ci-reports.yml

  test-action-repository-owner-is-organization:
    needs: linter
    permissions:
      contents: read
    uses: ./.github/workflows/__test-action-repository-owner-is-organization.yml

  test-action-slugify:
    needs: linter
    permissions:
      contents: read
    uses: ./.github/workflows/__test-action-slugify.yml

  test-action-working-directory:
    needs: linter
    permissions:
      contents: read
    uses: ./.github/workflows/__test-action-working-directory.yml
