name: Internal - Common Continuous Integration tasks

on:
  workflow_call:

permissions:
  actions: read
  contents: read
  statuses: write
  security-events: write

jobs:
  linter:
    uses: ./.github/workflows/linter.yml

  test-action-matrix-outputs:
    needs: linter
    uses: ./.github/workflows/__test-action-matrix-outputs.yml

  test-action-repository-owner-is-organization:
    needs: linter
    uses: ./.github/workflows/__test-action-repository-owner-is-organization.yml

  test-action-slugify:
    needs: linter
    uses: ./.github/workflows/__test-action-slugify.yml
