name: Internal - Tests for slugify action

on:
  workflow_call:

permissions:
  contents: read

jobs:
  tests:
    name: Tests for slugify action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - id: slugify
        uses: ./actions/slugify
        with:
          value: test content

      - name: Check slugify outputs
        run: |
          if [ "${STEPS_SLUGIFY_OUTPUTS_RESULT}" != 'test-content' ]; then
            echo "Slugify outputs result is not valid"
            exit 1
          fi
        env:
          STEPS_SLUGIFY_OUTPUTS_RESULT: ${{ steps.slugify.outputs.result }}
