name: Internal - Tests for parse-ci-reports action

on:
  workflow_call:

permissions:
  contents: read

jobs:
  tests:
    name: Tests for parse-ci-reports action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - id: parse-ci-reports
        uses: ./actions/parse-ci-reports

      - name: Check parse-ci-reports outputs
        run: |
          if [ "${STEPS_PARSE_CI_REPORTS_OUTPUTS_HAS_ERRORS}" != 'false' ]; then
            echo "parse-ci-reports outputs result is not valid"
            exit 1
          fi
        env:
          STEPS_PARSE_CI_REPORTS_OUTPUTS_HAS_ERRORS: ${{ steps.parse-ci-reports.outputs.has-errors }}
