name: Internal - Tests for repository-owner-is-organization action

on:
  workflow_call:

permissions:
  contents: read

jobs:
  tests:
    name: Tests for repository-owner-is-organization action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - id: repository-owner-is-organization
        uses: ./actions/repository-owner-is-organization

      - name: Check repository-owner-is-organization outputs
        run: |
          if [ "${STEPS_REPOSITORY_OWNER_IS_ORGANIZATION_OUTPUTS_IS_ORGANIZATION}" != 'true' ]; then
            echo "repository-owner-is-organization outputs result is not valid"
            exit 1
          fi
        env:
          STEPS_REPOSITORY_OWNER_IS_ORGANIZATION_OUTPUTS_IS_ORGANIZATION: ${{ steps.repository-owner-is-organization.outputs.is-organization }}
