name: Internal - Tests for set/get matrix outputs

on:
  workflow_call:

permissions:
  contents: read

jobs:
  tests-1:
    name: Arrange - Set first output
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - id: set-matrix-output
        uses: ./actions/set-matrix-output
        with:
          value: |
            { "test": "test content 1" }
          artifact-name: "test-matrix-outputs-${{ matrix.os }}"

      - name: Check set matrix outputs
        shell: bash
        run: |
          EXPECTED_ARTIFACT_NAME="$GITHUB_RUN_ID-$GITHUB_RUN_NUMBER-test-matrix-outputs-${{ matrix.os }}"

          if [ "${STEPS_SET_MATRIX_OUTPUT_OUTPUTS_ARTIFACT_NAME}" != "$EXPECTED_ARTIFACT_NAME" ]; then
            echo "Set matrix output 1 result is not valid"
            exit 1
          fi
        env:
          STEPS_SET_MATRIX_OUTPUT_OUTPUTS_ARTIFACT_NAME: ${{ steps.set-matrix-output.outputs.artifact-name }}

  tests-2:
    name: Arrange - Set empty output
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - uses: ./actions/set-matrix-output
        with:
          value: ""
          artifact-name: "test-matrix-outputs-${{ matrix.os }}"

  tests-3:
    name: Arrange - Set third output
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - uses: ./actions/set-matrix-output
        with:
          value: |
            { "test": "test content 3" }
          artifact-name: "test-matrix-outputs-${{ matrix.os }}"

  assert:
    needs: [tests-1, tests-2, tests-3]
    name: Assert - Check outputs
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - id: get-matrix-outputs
        uses: ./actions/get-matrix-outputs
        with:
          artifact-name: test-matrix-outputs-${{ matrix.os }}

      - name: Check matrix outputs
        shell: bash
        run: |
          # Output result must be a json array of 2 entries
          if [ "$(echo "$OUTPUT_RESULT" | jq -e '. | length')" != "2" ]; then
            echo "Get matrix outputs result is not valid"
            exit 1
          fi

          # Output result must contain the first and third entries
          if [ "$(echo "$OUTPUT_RESULT" | jq -ce '. | sort')" != '[{"test":"test content 1"},{"test":"test content 3"}]' ]; then
            echo "Get matrix outputs result is not valid"
            exit 1
          fi
        env:
          OUTPUT_RESULT: ${{ steps.get-matrix-outputs.outputs.result }}

      - name: Check artifacts have been deleted
        shell: bash
        run: |
          ARTIFACTS_PATH="/tmp/$GITHUB_RUN_ID-$GITHUB_RUN_NUMBER-test-matrix-outputs-${{ matrix.os }}"
          if [ -d "$ARTIFACTS_PATH" ]; then
            echo "Artifacts have not been deleted"
            exit 1
          fi
