# Generate Dependabot Config
# ==========================
# Reusable workflow to generate a dependabot config from predefined templates.
# Mainly using [Generate Dependabot Glob Action](https://github.com/marketplace/actions/generate-dependabot-glob), to generate a dependabot config from a glob pattern.
# Workaround for missing official support of glob directories [https://github.com/dependabot/dependabot-core/issues/2178](https://github.com/dependabot/dependabot-core/issues/2178)

name: Generate Dependabot Config

on:
  workflow_call:
    inputs: 
      github-app-id:
        description: "GitHub App ID to generate GitHub token in place of private-access-token. See https://github.com/tibdex/github-app-token"
        required: false
        type: string
    secrets:
      private-access-token:
        description: "GitHub private access token for creating and merging pull request. See https://github.com/juliangruber/merge-pull-request-action"
      github-app-key:
        description: "GitHub App private key to generate GitHub token in place of private-access-token. See https://github.com/tibdex/github-app-token"

jobs:
  generate-dependabot-config:
    name: Generate Dependabot Config
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Dependabot Glob
        uses: Makeshift/generate-dependabot-glob-action@v1.3.3

      - uses: tibdex/github-app-token@v1
        if: inputs.github-app-id
        id: generate-token
        with:
          app_id: ${{ inputs.github-app-id }}
          private_key: ${{ secrets.github-app-key }}

      - uses: hoverkraft-tech/ci-github-common/actions/create-and-merge-pull-request@main
        with:
          private-access-token: ${{ steps.generate-token.outputs.token || secrets.private-access-token }}
          branch: chore/dependabot-config
          title: "chore: update dependabot config"
          body: Update dependabot config for glob directories
          commit-message: |
            chore: update dependabot config

            [skip ci]
