name: Greetings

on:
  issues:
    types: [opened]
  pull_request_target:
    branches: [main]

  workflow_call:
    inputs:
      issue-message:
        description: "Comment to post on an individual's first issue. See https://github.com/actions/first-interaction#usage"
        type: string
        required: false
      pr-message:
        description: "Comment to post on an individual's first pull request. See https://github.com/actions/first-interaction#usage"
        type: string
        required: false
    secrets:
      github-token:
        description: "Token for the repository. Can be passed in using {{ secrets.GITHUB_TOKEN }}. See https://github.com/actions/first-interaction#usage"
        required: true

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
      - id: set-variables
        run: |
          ISSUE_MESSAGE="${{ inputs.issue-message }}"
          echo "issue-message=${ISSUE_MESSAGE:-"Hi, thank for reporting an issue, we will check it out very soon"}" >> "$GITHUB_OUTPUT"
          PR_MESSAGE="${{ inputs.pr-message }}"
          echo "pr-message=${PR_MESSAGE:-"Hi, thank you for creating your PR, we will check it out very soon"}" >> "$GITHUB_OUTPUT"
          GITHUB_TOKEN="${{ secrets.github-token }}"
          echo "REPO_TOKEN=${GITHUB_TOKEN:-"${{ secrets.GITHUB_TOKEN }}"}" >> "$GITHUB_ENV"

      - uses: actions/first-interaction@v1
        with:
          repo-token: ${{ env.REPO_TOKEN }}
          issue-message: ${{ steps.set-variables.outputs.issue-message }}
          pr-message: ${{ steps.set-variables.outputs.pr-message }}
