# Workflow to ensure Pull Request provides semantic versionning assets:
#
# - "Squash and merge" Pull Request strategy provides a valid commit message.
#   Check that the title follows the [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/) specification.
#   Mainly using [action-semantic-pull-request](https://github.com/amannn/action-semantic-pull-request#installation), with some opinionated defaults.

name: "Semantic Pull Request"

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

  workflow_call:
    inputs:
      runs-on:
        description: |
          JSON array of runner(s) to use.
          See https://docs.github.com/en/actions/using-jobs/choosing-the-runner-for-a-job.
        required: false
        type: string
        default: '["ubuntu-latest"]'
    secrets:
      github-token:
        description: |
          Token for the repository.
          Default: GITHUB_TOKEN.
        required: false

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  lint:
    name: "☑️ Validate PR title"
    runs-on: ${{ inputs.runs-on && fromJson(inputs.runs-on) || 'ubuntu-latest' }}
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.github-token || github.token }}
